.board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    position: relative;
    gap: 0.1rem;
}

.winning-line {
    width: 150px;

    position: absolute;
    background-color: black;
    z-index: 1;
}

.horizontal-one,
.horizontal-two,
.horizontal-three {
    height: 10px;
    transform: translateY(-50%);
}

.horizontal-one {
    top: 32px;
}

.horizontal-two {
    top: 84px;
}

.horizontal-three {
    top: 135px;
}

.vertical-one,
.vertical-two,
.vertical-three {
    width: 10px;
    height: 150px;
    top: 10px;
    left: 34px;
    transform: translateX(-50%);
}

.vertical-two {
    left: 84px;
}

.vertical-three {
    left: 136px;
}

.diagonal-right,
.diagonal-left {
    background: none;
    top: 85px;
}

.diagonal-right::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 140%;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.diagonal-left::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 140%;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}