@use "./_mixins.scss" as mixins;

main {
    &.layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
}

header {
    margin-block-end: 3.5rem;
}

h1 {
    &.title {
        @include mixins.font_reusable("Montserrat", 700, 3rem);
        color: #000;
        text-align: center;
    }
}

h2 {
    &.score>p {
        @include mixins.font_reusable("Montserrat", 500, 2.5rem);
        color: #000;
        text-align: center;

        &:last-child {
            font-size: 1.75rem;
        }
    }
}

p {
    &.subtitle {
        @include mixins.font_reusable("Montserrat", 500, 2.5rem);
        color: #000;
        text-align: center;
    }
}

button {
    &.circle-bg {
        @include mixins.button_reusable;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.25rem;
        height: 6.25rem;
        background: black;
        isolation: isolate;

        position: relative;
    }

    &.cross-bg {
        @include mixins.button_reusable;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 6.25rem;
        transform: translateX(200%) rotate(-45deg);
        background: black;
        mix-blend-mode: hard-light;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        isolation: isolate;
        position: relative;
    }

    &.empty-cell {
        @include mixins.button_reusable;
        background: transparent
    }
}

div {
    &.circle-main {
        @include mixins.button_reusable;
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        background: linear-gradient(63deg, #C5FFF8 -11.54%, #7B66FF 97.65%);
        background-blend-mode: screen;
        position: absolute;
    }

    &.cross-main {
        @include mixins.button_reusable;
        width: 1.25rem;
        height: 6.25rem;
        transform: rotate(90deg);
        background: black;
        mix-blend-mode: hard-light;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
    }

    &.bar {
        position: absolute;
        background: black;
        border-radius: .5rem;

        &:nth-child(1),
        &:nth-child(2) {
            width: .625rem;
            height: 22.5rem;
        }

        &:nth-child(3),
        &:nth-child(4) {
            width: 22.5rem;
            height: .625rem;
        }

        &:nth-child(1) {
            left: 6.875rem;
        }

        &:nth-child(2) {
            right: 6.875rem;
        }

        &:nth-child(3) {

            top: 6.875rem;
        }

        &:nth-child(4) {

            bottom: 6.875rem;
        }
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 6.25rem);
    grid-template-rows: repeat(3, 6.25rem);
    position: relative;
    gap: 1.875rem;
}

.winning-line {
    inset: 0;
    position: absolute;
    z-index: 1;
    background: none;
}

.horizontal {

    &-one,
    &-two,
    &-three {
        &::before {
            content: '';
            position: absolute;
            background-color: black;
            width: 120%;
            height: 10px;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    &-one::before {

        top: 14%;
    }

    &-two::before {

        top: 50%;
    }

    &-three::before {

        top: 86%;
    }
}

.vertical {

    &-one,
    &-two,
    &-three {
        &::before {
            content: '';
            position: absolute;
            background-color: black;
            width: 120%;
            height: 10px;
            top: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &-one::before {
        left: 14%;
    }

    &-two::before {
        left: 50%;
    }

    &-three::before {

        left: 86%;
    }
}

.diagonal {

    &-right,
    &-left {
        &::before {
            content: '';
            position: absolute;
            background-color: black;
            width: 140%;
            height: 10px;
            top: 50%;
            left: 50%;
        }
    }

    &-right::before {

        transform: translate(-50%, -50%) rotate(45deg);
    }

    &-left::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}



button {
    &.start {
        width: 100px;
    }
}